$backgroundGrey: #efefef;
$backgroundDarkGrey: #313131;
$mainPlainColor: #fefefe;
$boldText: rgba(0, 0, 0, 0.6);
$headerText: rgba(0, 0, 0, 0.8);
$whiteText: rgba(255, 255, 255, 0.6);
$whiteTextBright: rgba(255, 255, 255, 0.8);

//btn colors
$lightBackgroundGrey: rgba(0, 0, 0, 0.05);
$lightBackgroundGreyHover: rgba(0, 0, 0, 0.025);
$lightBackgroundGreyActive: rgba(0, 0, 0, 0.1);

$errorText: tomato;

//dark mode colors
$backgroundDarkAnthracite: #202020;
$backgroundAnthracite: #313131;
$backgroundHighlight: rgba(255, 255, 255, .1);