<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
  <title>Blog - about</title>
</head>

<body>
  <navigation-bar></navigation-bar>
  <div class="about__container"></div>
</body>
<template id="card__template">
  <div class="about__card">
    <div class="about__author">
      <img src="https://api.adorable.io/avatars/128/mk" alt="" class="author__img" />
      <div class="image__loader"></div>
      <div class="author__data">
        <h3 class="author__name">a</h3>
        <h3 class="author__email">a</h3>
      </div>
    </div>
    <p class="about__bio">a</p>
  </div>
</template>

</html>